<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style sheet -->
    <link rel="stylesheet" href="../styles/match.css" />
    <title>World Cup</title>
  </head>
  <body>
    <!-- top banner start -->
    <section class="container">
      <div class="top-banner">
        <div class="top-info">
          <h1>The Greatest show on the earth</h1>
          <p>
            Here's how to watch World Cup 2022 online and on regular TV when all the action finally kicks off in Qatar later this year. </p>
          <a href="">Watch Live <i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="top-img">
          <img src="../images/Banner Image.png" alt="" />
        </div>
      </div>
    </section>
    <!-- middle section start -->
    <section class="container blog-container">
        <ul class="menu">
            <li class="menu-item"><a href="">Upcoming Match</a></li>
            <li class="menu-item"><a href="">All Group</a></li>
            <li class="menu-item"><a href="../index.html">Blog</a></li>
        </ul>
        <div class="blogs">
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
            <article class="blog">
                <div class="teams">
                    <img src="../images/germany Flag.png" alt="">
                    <p>VS</p>
                    <img src="../images/Flag.png" alt="">
                </div>
                <div class="blog-info">    
                    <h3>Germany VS France </h3>
                    <p>April 01, 2023, 1.00 AM</p>
                </div>
            </article>
         
        </div>
        <div class="view-all"> <a href="">View All</a></div>
    </section>
    <footer>
        <h2>Goal</h2>
        <hr>
        <p class="footer-nav">
            <span>Contact Us</span>
            <span>Terms of Service</span>
            <span>Privacy Policy</span>
            <span>Privacy Policy</span>
            <span>Goal App</span>
            <span>Goal Live</span>
        </p>
    <p class="footer-icons"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-twitter-square"></i></p>
    </footer>
    
    <script src="https://kit.fontawesome.com/a56cb831b4.js" crossorigin="anonymous"></script>
  </body>
</html>
