@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* top banner styles */

.top-banner {
  display: flex;
  width: 80%;
  padding: 33px 80px 0;
  background-color: #161616;
  border-radius: 30px;
  margin-top: 50px;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.top-info {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}
.top-info h1 {
  font-size: 70px;
  margin: 20px auto;
}
.top-info p {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: ;
}
.top-info a {
  text-decoration: none;
  background-color: #dd0000;
  width: 187px;
  height: 56px;
  padding: 16px 25px;
  border-radius: 5px;
  color: white;
}
.top-img {
  display: flex;
  align-items: flex-end;
}
.top-img img {
  width: 581px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

/* middle part styles */

.blog-container {
  align-items: flex-start;
  justify-content: center;
  margin: 7vw 4vw;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins',sans-serif;
  padding: 20px;
}

.teams{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  margin-top: 5px;

}
.teams img{
  padding: 0 10px;
}

.teams p{  
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}

.blog-info{
margin-bottom: 0;
text-align: center;
}
.blog-info h3{
  color: #161616;
  font-size: 20px;
}
.blog-info p{
color:#4D4D4D;
font-size: 16px;
}
.teams img{
  width: 100%;
}
.menu{
  list-style: none;
  text-align: center;
  width: 20vw;
  background: #161616;
  border-radius: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 4vw;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
}
.menu-item:first-child{
    background-color: #DD0000;
}
.menu-item:first-child a{
    color: white;
}
.menu-item a {
  text-decoration: none;
  color: #161616;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
}
/* blog part styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.blog {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: fit-content;
}
.blog-info {
  padding: 20px;
  padding-bottom: 0;
}
.blog-info a {
  background-color: white;
  color: #161616;
  border: 1px solid #161616;
  text-decoration: none;
  border-radius: 5px;
  max-width: 100px;
  max-height: 32px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 24px;
  padding: 5px 20px;
}
.blog-info h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.blog img {
  width: 100%;
}
.icons {
  width: 143px;
}

.icon {
  width: 60px;
  padding: 2px 5px 2px 0;
  font-family: "Poppins", sans-serif;
  size: 16px;
  color: #161616b2;
  margin-right: 10px;
}
.icon i {
  margin-right: 10px;
}
.view-all{
    margin-top: 50px;
    display: none;
}
.view-all a{
    background-color: #DD0000 ;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    
}
/* footer styles  */

footer {
  text-align: center;
  width: 100%;
  background-color: #161616;
  color: white;
  padding-top: 10vh;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
.footer-nav {

  margin-top: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.footer-nav span{
    padding: 35px;
}
hr {
  width: 90vw;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-icons i{
 margin: 10px;
 margin-top: 100px;
 font-size: 25px;
 padding-bottom: 20px;
}

/* tablet view */

@media screen and (min-width: 360.1px) and (max-width: 820px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* top banner style */
  .top-banner {
    display: flex;
    width: 734px;
    margin: 5vw;
    padding-top: 60px;
    align-items: flex-start;
  }
  .top-info {
    margin-top: 0;
    width: 316px;
    height: 276px;
  }
  .top-info h1 {
    font-size: 40px;
  }
  .top-info p {
    font-size: 14px;
  }
  .top-img {
    display: flex;
    align-items: flex-end;
  }
  .top-img img {
    width: 323px;
    height: 340px;
  }

  .top-info p {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .top-info a {
    font-size: 16px;
    padding: 5px 10px;
  }

  /* middle part style */
  .blog-container {
    flex-direction: column;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
  }
  .menu-item {
    width: 230px;
    height: 64px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
  }
  .menu-item a {
    font-size: 20px;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .view-all{
    display: block;
}
}

/* for mobile device */
@media screen and (max-width: 360px) {
  .top-banner {
    flex-direction: column;
    text-align: center;
    width: 170px;
    margin: 20px;
  }
  .top-info h1 {
    font-size: 22px;
  }
  .top-info p {
    font-size: 14px;
  }
  .top-img img {
    width: 233px;
  }
  .blog-container {
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 210px;
    margin-left: 35px;
  }

  .menu-item {
    width: 230px;
    height: 64px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    margin: 10px 0;
  }
  .menu-item a {
    font-size: 20px;
  }
  .blogs{
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
